{% extends 'base.html' %}

{% block content %}
  <h2>Sign Up</h2>

  <form action='' method='POST'>
    {{ form.csrf_token }}

    <label>Name</label><br>
    {{ form.name }}<br>
    {% for error in form.errors['name'] %}
      {{ error }}<br>
    {% endfor %}<br>

    <label>Email</label><br>
    {{ form.email }}<br>
    {% for error in form.errors['email'] %}
      {{ error }}<br>
    {% endfor %}<br>

    <label>Password</label><br>
    {{ form.password }}<br>
    {% for error in form.errors['password'] %}
      {{ error }}<br>
    {% endfor %}<br>

    <a href="{{ url_for('gen.home') }}" class='btn'>Back</a>
    <input type='submit' value='Sign Up' class='btn'>
  </form>
{% endblock content %}
