th, td {
  padding: 0.5rem 1rem;
}

.user-pagin {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  justify-content: center;
  width: 200px;
  padding: 0;
  text-align: center;
}

.user-pagin a {
  padding: 0.5rem;
}

nav {
  margin-top: 2rem;
}
