body {
  margin: 2rem;
  color: #000;
  background-color: #fff;
  font-family: Garamond;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

input {
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  font-family: inherit;
  font-size: inherit;
}

.btn {
  padding: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
