* {
  box-sizing: border-box;
}

body {
  color: #000;
  background-color: #fff;
  font-family: Quicksand;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav a {
  padding: 0.5rem 1rem;
}

nav a:hover {
  border-bottom: black solid 2px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

#flash {
  position: absolute;
  top: 20px;
  width: 40vw;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border: #ccc solid 1px;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
}

#cross {
  font-size: 20px;
  color: #d11a2a;
  cursor: pointer;
}
