{% extends 'base.html' %}
{% block content %}
<h1>MOSK (Mongo DB + Flask) User Portal</h1>
<table>
  <tr>
    <th>User</th>
    <th>Email</th>
  </tr>
  {% for user in users %}
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
    </tr>
  {% endfor %}
</table>
<nav>
  {% if log.status() %}
    <a href="{{ url_for('profile') }}" class='btn'>Profile</a>
    <a href="{{ url_for('logout') }}" class='btn'>Logout</a>
  {% else %}
    <a href="{{ url_for('sign_up') }}" class='btn'>Sign Up</a>
    <a href="{{ url_for('login') }}" class='btn'>Login</a>
  {% endif %}
</nav>
{% endblock content %}
