{% extends 'base.html' %}
{% block content %}
<h2>Profile</h2>

<span>Name:</span>
{{ log.get_user()['name'] }}
<br><br>
<span>Email:</span>
{{ log.get_user()['email'] }}
<br><br><br>

<a href="{{ url_for('home') }}" class='btn'>Home</a>
<a href="{{ url_for('modify') }}" class='btn'>Modify</a>
<span id='delete-btn' class='btn' tabindex=0>Delete</span>

<form onsubmit='event.preventDefault();' id='delete' class='hidden'>
  <label for='email'>Enter email to confirm:</label>
  <input name='email' type='text'>
  <input id='confirm' type='submit' value='Delete' class='btn'>
</form>
{% endblock content %}
