body {
  margin: 2rem;
  color: #000;
  background-color: #fff;
  font-family: Garamond;
}

table {
  margin-bottom: 2rem;
}

th, td {
  padding: 0.5rem 1rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

input {
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
  font-family: inherit;
  font-size: inherit;
}

.btn {
  padding: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
