<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>MOSK</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="{{ url_for('static', filename='reset.css') }}" rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='style.css') }}" rel='stylesheet' type='text/css'>
    <script async src="{{ url_for('static', filename='main.js') }}" type='text/javascript'></script>
  </head>
  <body>
    {% block content %}
    {% endblock content %}
  </body>
</html>
